.cartColumn{
    float: left;
    width: 20%;
    padding-left: 5%
}

.cartColumnChocolate{
    float: left;
    width: 40%;
    padding-left: 5%
}

.cart{
    margin-left: 20%;
    margin-right: 20%;
}

.cartListHeader{
    font-weight: bold;
}

.titleText{
    font-weight: bold;
}

#dreamyFont1 {
    font-family: 'Sacramento', cursive;
    font-size: 50px;
}

.dreamyFont2 {
    font-family: 'Sacramento', cursive;
    font-size: 60px;
}

.dreamyFont3 {
    font-family: 'Sacramento', cursive;
    font-size: 40px;
}